<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear cuenta</title>
  <link rel="stylesheet" href="../static/stylew.css">
</head>
<body>
  
      <div class="loginbox">
        <h1>Crear cuenta</h1>
        <form action="{{url_for('registro')}}" method="POST">
          <p>Correo</p>
          <input type="text" placeholder="correo" name="correo">
          <p>Contraseña</p>
          <input type="password" placeholder="contraseña" name="password">
          <p>Repetir Contraseña</p>
          <input type="password" placeholder="contraseña" name="password2">
          <div class="hero container">
            <div>
              <input type="submit" value="registrar">
            </div>
        </form>
        {% if aviso %}
        <p>{{ aviso }}</p>
        {% endif %}
      </div>

</body>
</html>